<h2>Async Promise Piep</h2>
<async-promise-pipe></async-promise-pipe>
<hr>
<h2>Async Observable Pipe</h2>
<async-observable-pipe></async-observable-pipe>
<hr>
<h2>Decimal Pipe</h2>
<number-pipe></number-pipe>
<hr>
<h2>JSON Pipe</h2>
<json-pipe></json-pipe>
<hr>
<h2>Slice Pipe</h2>
<slice-list-pipe></slice-list-pipe>
<hr>
<h2>Slice Pipe List</h2>
<slice-list-pipe></slice-list-pipe>
<hr>
<h2>Slice Pipe String</h2>
<slice-string-pipe></slice-string-pipe>
<hr>
<h2>Currency Pipe</h2>
<currency-pipe></currency-pipe>
<hr>
<h2>I18n Plural Pipe</h2>
<i18n-plural-pipe></i18n-plural-pipe>
<hr>
<h2>Lower Upper Case Pipe</h2>
<lowerupper-pipe></lowerupper-pipe>
<hr>
<h2>Title Case Pipe</h2>
<title-case-pipe></title-case-pipe>
<hr>
<h2>Date Pipe</h2>
<date-pipe></date-pipe>
<hr>
<h2>I18n Select Pipe</h2>
<i18n-select-pipe></i18n-select-pipe>
<hr>
<h2>Percent Pipe</h2>
<percent-pipe></percent-pipe>
<hr>
